@charset "utf-8";
/* CSS Document */

#signup_wrapper
{   width: 70%;
    height:	auto;
    margin: 0 auto;
    margin-bottom: 5px;
	padding: 2px 2px 2px 2px;
	border: 2px #633 solid;

}
#signup_block_Edit
{
    width: 1000px;
    height:	450px;
	margin: 0 auto;
}
#signup_block_Edit .Edit1
{
	float: left;
	width: 100px;
	height:250px;
	padding: 2px 2px 2px 2px;
	margin: 20px; 
	margin-right: 0px 0px 0px 0px;
	
}
#signup_block_Edit .Name
{	
	width: 110px;
	height:	0px;
	margin: 0 auto;  
	padding: 20px 20px 20px 20px;
	
}
#signup_block_Edit .Company
{	
	width: 110px;
	height:	0px;
	margin: 0 auto;  
	padding: 20px 20px 20px 20px;
	
}
#signup_block_Edit .Address
{	
	width: 110px;
	height:	0px;
	margin: 0 auto;   
	padding: 20px 20px 20px 20px;
	
}
#signup_block_Edit .Email
{	
	width: 110px;
	height:	0px;
	margin: 0 auto;    
	padding: 20px 20px 20px 20px;
	
}
#signup_block_Edit .Edit2
{
	float: left;
	width: 500px;
	height:290px;
	margin: 20px;
	margin-right: 1px;
	//border: 3px #00F solid;
	//border: 2px #F00 solid;
}
.label
{
	background-color:#CCC;
	width: 200px;
}
#signup_block_Edit .txtname
{	
	width: 110px;
	height:	0px;
	margin: 0 auto;  
	padding: 20px 20px 20px 20px;
	
}
#signup_block_Edit .txtCompany
{	
	width: 110px;
	height:	0px;
	margin: 0 auto;  
	padding: 20px 20px 20px 20px;
	
}
#signup_block_Editt .txtAddress
{	
	width: 110px;
	height:	0px;
	margin: 0 auto;   
	padding: 20px 20px 20px 20px;
	
}
#signup_block_Edit .txtEmail
{	
	width: 110px;
	height:	0px;
	margin: 0 auto;    
	padding: 20px 20px 20px 20px;
	
}
#signup_block_Edit .Edit3
{
	float: left;
	width: 160px;
	height:200px;
	margin: 25px;
	border: 3px #00F solid;
}
#signup_block_Edit .photos
{
	width: 110px;
	height:	0px;
	margin: 0 auto;
	padding: 2px 2px 2px 2px;

}
.p{
	font-family:Tahoma, Geneva, sans-serif;
	font-size:16px;
	font-style:normal;
	color:#C00;
	text-decoration:blink;
	text-decoration:underline;
	}
/*
button:hover
{

	background-color:#FFC;
	border-color:#06F;
	color:#F90;
	text-decoration:none;
	background-position:center;
}
button:link
{
	color:#00D;
}
a:link
{
	color:#FC9;
}
table
{
	border:2px;
	border-color:#00F;
	margin-top:20px;
	background-position:center;
	width:70%;
	height:80%;
	vertical-align:middle;
}

*/
p.text
{
	font-family:"Times New Roman", Times, serif;
	font-size:12px;
	width:70px;
	text-align:center;
}
p.textedit{
	width:50px;
	text-align:center;
	font-family:"Times New Roman", Times, serif;
	font-size:12px;
}

/*
table
{
	border:2px;
	border-color:#00F;
	margin-top:20px;
	background-position:center;
	width:50%;
	height:100%;
	vertical-align:middle;
}

input{

	clear: both;
	font-size:18px;

	color:blue;
	border: 1px solid #FFB6C1;
	background-color: #FFFFF0;
	font-family: "Times New Roman", serif,arial;
	padding: 5px;
}
input:hover
{
	background-color:#F0F0F0;
	border-color:#06F;
}
*/

table.login{
    font-family: Tahoma;
}

span.login_tip{
    font-family: Tahoma;
    font-size: 11px;
    color: #990033;
}

table.login input[type=text], table.login input[type=password]{
    border: 1px solid #999;
    background-color: #ffffff;
    height: 25px;
    font-size: 15px;
}

table.login input[type=text]:hover, table.login input[type=password]:hover{
    background-color: #fcfcff;
}


/*button:hover
{

	background-color:#999;
	border-color:#06F;
	color:#FFF;
	text-decoration:none;
	background-position:center;
}
p.text
{
	font-family:"Times New Roman", Times, serif;
	font:bold;
	font-size:2px;
	width:65px;
	text-align:center;
}
 */